header{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

body{
background-image: url( "../images/tunnelbkg.jpg");
background-size: cover;
color: rgba(184, 47, 47, 0.87);
font-family: 'Nosifer', cursive;
}


.jumbotron{
    background-color: transparent;
}

p{
    text-align: center;
    color: white;
    font-size: 24px;
}

footer{
    background-color: transparent;
    margin-top: 21%;
    color: darkgrey;
    text-align: center;


}